@font-face {
    font-family: 'bringinregular';
    src: url('../fonts/9108-webfont.woff2') format('woff2'),
         url('../fonts/9108-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}