@mixin triangle($direction, $size: 6px, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
  z-index: 50;
  

  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    top: -$size;
    left: 3*$size;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    left: -2*$size;
    top: 3*$size;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    right: -$size;
    
    top: 3*$size;

  }
}
@mixin pseudo($pos: absolute, $content: "") {
	content: $content;
  position: $pos;
}

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}


@mixin title__second($fz, $ls, $left, $ta) {
	font-family: $font-Open;
	font-weight: bold;
	color: $color-title;
	letter-spacing: $ls;
	text-transform: uppercase;
	font-size: $fz;
	padding-top: 50px;
	position: relative;
	text-align: $ta;
	&:before {
		content: "";
		position: absolute;
		background-image: url("../img/sprite/sprite.png");
		background-position: -38px -121px;
		width: 81px;
		height: 7px;
		top: 0;
		left: $left;
	}
}

@mixin sprite($bgp, $w, $h) {
	background-image: url("../img/sprite/sprite.png");
	background-position: $bgp;
	width: $w;
	height: $h;
}

.img {
	display: block;
	width: 100%;
}

$smartphone: 599px;
$tabletSmall: 599px;
$tabletLarge: 899px;
$desktop: 1170px;
$largeScreen: 1400px;

@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletSmall) and (max-width: $tabletLarge) { @content; }
  }
  @else if $media == tabletmax {
    @media (max-width: $tabletLarge) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}
