$color-shadow: #ddd;
$font-Open: 'Open Sans', sans-serif;
$font-curv: 'bringinregular', sans-serif;
$color-text: #9daeb6;
$color-main: #36aeea;
$color-light: #fff;
$color-title: #2c2e37;
$color-section: #949494;
$color-subtitle: #212121;
$color-content: #777;
$color-form: #848484;
$color-circle: #f0f3f6;
$color-q: #758697;
$color-footer: #7ec2d6;
$br: 5px;
