.header {
	background-color: #ccc;
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	background-position: 50% 50%;
	@include respondTo(smartphone) {
		background-image: url("../img/bg1-small.jpg");
	}
	.header__inner {
		background-color: rgba(255,255,255,.3); 
		@include respondTo(smartphone) {
			background-color: rgba(255,255,255,1);
			position: fixed;
			width: 100%;
			z-index: 9999;
		}
		.header__logo {
			padding-top: 28px;
			text-align: center;
		}
	}
}
.header__menu {
	display: flex;
	justify-content: space-between;
	@include respondTo (tabletmax) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
//=====================logo============
.logo {
	font-size: 2.8em;
	font-family: $font-curv;
	font-weight: 400;
	&__link {
		display: block;
		text-decoration: none;
		color: $color_text;
		@include respondTo(tabletmax) {
			text-align: center;
		}
		.logo__text_left {
			color: $color_main;
			margin-right: -7px;	
		}
	}
}

//=====================menu=================
.menu {
	padding-top: 22px;
	margin-left: -5px;
  	width: 80%;
	@include respondTo(tabletmax) {
		text-align: center;
	}
	@include respondTo(smartphone) {
		margin-left: 0;
	}
	.menu__item {
		display: inline;
		padding-right: 25px;
		.menu__link {
			text-decoration: none;
			color: $color_text;
			font-size: 1.2em;
			line-height: 44px;
			text-transform: uppercase;
			padding-bottom: 5px;
			text-decoration: none;
			color: $color_text;
			@include respondTo(smartphone) {
				line-height: 24px;
				margin-bottom: 21px;
			}
		}
		.menu__link_active {
			border-bottom: 2px solid $color-main;
		}
	}
}


//=================btn menu================
.header__btn {
	margin-top: 20px;
  	width: 180px;
	float: right;
	@include respondTo(tabletmax) {
 		float: none;
		margin: 0 auto;
	}
}


//=================title==============
.header__title {
	padding: 174px 0 183px 43px;
	@include respondTo(tabletmax) {
		padding: 174px 0 197px 0;
	}
    @include respondTo(smartphone) {
		padding: 100px 0 30px 0;
	}
	.title {
		font-weight: bold;
		.title__text_up {
			font-size: 5em;
			display: block;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 8px;
			font-weight: bold;
		}
		.title__text_down {
			display: block;
			color: $color-main;
			font-family: $font-curv;
			margin-top: -20px;
			font-size: 6.6em;
			letter-spacing: 1.2px;
		}
	}
	.title__content {
		color: $color-light;
		font-size: 1.8em;
		padding-top: 6px;
		padding-bottom: 24px;
		max-width: 450px;
		line-height: 30px;
	}
}

.menu-toggle {
    display: none;
}

@keyframes menu_burger {
    0% {
        width: 90%;
        height: 90%;
        opacity: 0;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}
@keyframes menu_burger1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 599px) {
  .burger-bg {
		display: none;
		position: fixed;
		background: #ffffff;
		top: 0;
		left: 0;
		z-index: 5;           
  }
  .header__menu {
		display: none;
		margin-bottom: 20px;
		width: 100px;
		height: 100px;
		z-index: 6;
		.menu__item {
			display: flex;
			justify-content: center;
			padding-right: 0;      	
		.menu__link {
			text-align: center;
			display: block;
		}
    }
  }
  .header__btn {
  	height: 60px;
  }
	.menu-toggle:checked ~ .header__menu {
		animation: menu_burger1 1s ease;
		animation-fill-mode: forwards;
		animation-delay: .5s;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		opacity: 0;     
	}
	.menu-toggle:checked ~ .burger-bg {
		animation: menu_burger .4s ease;
		animation-fill-mode: forwards;
		display: flex;     
	}
	.burger-ext {
		position: fixed;
		top: 25px;
		left: 25px;
		background: #03A9F4;
		width: 30px;
		height: 5px;
		cursor: pointer;
		z-index: 7;
	}
	.burger {
		position: absolute;
		top: 30px;
		left: 55px;
		background: #03A9F4;
		width: 30px;
		height: 5px;
		cursor: pointer;
		z-index: 7;
		&:before {
			position: absolute;
			content: " ";
			top: 10px;
			width: 30px;
			height: 5px;
			background: #03A9F4;
			cursor: pointer;
		}
		&:after {
			position: absolute;
			content: " ";
			top: 20px;
			width: 30px;
			height: 5px;
			background: #03A9F4;
		}
	}
}

